* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $fontFamily;
	font-weight: $body;
	background-color: $veryLightGray;
	height: 100vh;
	background-image: url("../assets/bg-desktop-light.jpg");
	background-repeat: no-repeat;
	justify-items: center;
	background-position: center top;
}

main {
	width: 100%;
	max-width: 33.75rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

header {
	display: flex;
	flex-direction: column;
	margin-block-start: 4.6875rem;
	color: white;

	.header-content {
		display: flex;
		justify-content: space-between;
		margin-block-end: 2.1875rem;
	}

	.input-content {
		padding-block: 1.5rem;
		background-color: white;
		border-radius: 0.25rem;
		display: flex;
		align-items: center;
		padding-inline: 1.25rem;
		gap: 1.25rem;

		.checkbox-container {
			width: 1.625rem;
			height: 1.625rem;
			flex-shrink: 0;

			.first-checkbox {
				-webkit-appearance: none;
				appearance: none;
				border-radius: 50%;
				border: 0.125rem solid $veryLightGrayishBlue;
				position: relative;
				width: 100%;
				height: 100%;
			}
		}

		#text-input {
			outline: none;
			border: none;
			font-size: 1.125rem; // 18px
			width: 100%;
			color: $veryDarkGrayishBlue;
			font-family: $fontFamily;
			font-size: 1.125rem; // 18px
		}

		#text-input::placeholder {
			color: $darkGrayishBlue;
			font-family: $fontFamily;
			font-size: 1.125rem; // 18px
		}
	}
}

#todos-container {
	width: 100%;
	border-radius: 0.25rem;
	background-color: white;
	overflow: hidden;
	.todo-container {
		display: flex;
		align-items: center;
		padding-block: 1.5rem;
		background-color: white;

		display: flex;
		align-items: center;
		padding-inline: 1.25rem;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid $veryLightGrayishBlue;

		.todo-item {
			display: flex;
			align-items: center;
			gap: 1.25rem;
			width: 100%;

			.checkbox {
				-webkit-appearance: none;
				appearance: none;
				border-radius: 50%;
				border: 0.125rem solid $veryLightGrayishBlue;
				position: relative;
				width: 26px;
				height: 26px;
				cursor: pointer;

				&:checked {
					background: $checkBackground;
					border: none;

					// Ensure checkmark remains visible
					&::after {
						display: block;
					}

					&:hover {
						background: $checkBackground;
					}
				}

				&:hover {
					border: 0.125rem solid transparent;
					background: linear-gradient(#fff, #fff) padding-box, $checkBackground border-box;
					background-clip: padding-box, border-box;
					-webkit-background-clip: padding-box, border-box;
				}

				&::after {
					content: "";
					background-image: url("../assets/images/icon-check.svg");
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					width: 50%;
					height: 50%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 100;
					display: none;
				}
			}
		}
	}
}
