* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	outline: none;
	background: transparent;
	border: none;
	cursor: pointer;
}

body {
	font-family: var(--font-family);
	font-weight: var(--body-weight);
	background-color: var(--background);
	min-height: 100vh;
	background-image: var(--bg-image);
	background-repeat: no-repeat;
	background-position: center top;
	justify-items: center;
	padding-bottom: 4rem;

	@media (max-width: 768px) {
		font-size: 0.78rem;
	}
}

main {
	width: 100%;
	max-width: 33.75rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-inline: 1rem;
}

header {
	display: flex;
	flex-direction: column;
	margin-block-start: 4.6875rem;
	color: white;

	.header-content {
		display: flex;
		justify-content: space-between;
		margin-block-end: 2.1875rem;
	}

	.input-content {
		padding-block: 1.5rem;
		background-color: var(--todo-bg);
		border-radius: 0.25rem;
		display: flex;
		align-items: center;
		padding-inline: 1.25rem;
		gap: 1.25rem;

		@media (max-width: 768px) {
			gap: 0.8rem;
		}

		.checkbox-container {
			width: 1.625rem;
			height: 1.625rem;
			flex-shrink: 0;

			@media (max-width: 768px) {
				width: 1.5rem;
				height: 1.5rem;
			}

			.first-checkbox {
				-webkit-appearance: none;
				appearance: none;
				border-radius: 50%;
				border: 0.125rem solid var(--border-color);
				position: relative;
				width: 100%;
				height: 100%;
			}
		}

		#text-input {
			outline: none;
			border: none;
			font-size: 1.125rem;
			width: 100%;
			color: var(--text-color);
			font-family: var(--font-family);
			background-color: transparent;

			@media (max-width: 768px) {
				font-size: 0.78rem;
			}
		}

		#text-input::placeholder {
			color: var(--placeholder-color);
			font-family: var(--font-family);
			font-size: 1.125rem;
			@media (max-width: 768px) {
				font-size: 0.78rem;
			}
		}
	}
}

.wrapper {
	border-radius: 0.25rem;
	background-color: var(--todo-bg);
	overflow: hidden;
	box-shadow: var(--box-shadow);
	margin-bottom: 48px;
}

#todos-container {
	width: 100%;
	.todo-container {
		display: flex;
		align-items: center;
		padding-block: 1.5rem;
		background-color: var(--todo-bg);
		cursor: pointer;
		display: flex;
		align-items: center;
		padding-inline: 1.25rem;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid var(--border-color);

		&:hover .cancel-btn {
			opacity: 1;
			transform: scale(1);
		}

		.todo-item {
			display: flex;
			align-items: center;
			gap: 1.25rem;
			cursor: pointer;

			@media (max-width: 768px) {
				gap: 0.8rem;
			}

			p {
				color: var(--text-color);
			}

			.checkbox {
				-webkit-appearance: none;
				appearance: none;
				border-radius: 50%;
				border: 0.125rem solid var(--border-color);
				position: relative;
				width: 1.625rem;
				height: 1.625rem;
				cursor: pointer;
				flex-shrink: 0;

				@media (max-width: 768px) {
					width: 1.5rem;
					height: 1.5rem;
				}

				&:checked {
					background: var(--check-background);
					border: none;

					// Ensure checkmark remains visible
					&::after {
						display: block;
					}

					&:hover {
						background: var(--check-background);
					}
				}

				&:hover {
					border: 0.125rem solid transparent;
					background: linear-gradient(var(--todo-bg), var(--todo-bg)) padding-box,
						var(--check-background) border-box;
					background-clip: padding-box, border-box;
					-webkit-background-clip: padding-box, border-box;
				}

				&::after {
					content: "";
					background-image: url("../assets/icon-check.svg");
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					width: 50%;
					height: 50%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 100;
					display: none;
				}
			}

			&.checked {
				text-decoration: line-through;
				color: var(--border-color);
				p {
					color: var(--border-color);
				}
			}
		}

		.cancel-btn {
			opacity: 0;
			transform: scale(0.6);
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
		}

		&.dragging {
			opacity: 1;
			cursor: grabbing;
		}

		&.ghost {
			opacity: 0;
		}
	}

	.hide-todo {
		display: none;
	}
}

.bottom-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	p {
		font-size: 14px;
		color: var(--bottom-paragraph);
		letter-spacing: -0.02em;
	}

	.filter-container {
		display: flex;
		gap: 1rem;
		align-items: center;

		button {
			font-family: var(--font-family);
			font-size: 14px;
			font-weight: 700;
			color: var(--bottom-button);
			letter-spacing: -0.02em;
		}

		button:hover {
			color: var(--text-color);
		}

		.active {
			color: var(--bright-blue);
		}
	}

	.clear-completed-btn {
		font-family: var(--font-family);
		font-size: 14px;
		font-weight: 500;
		color: var(--bottom-paragraph);
		letter-spacing: -0.02em;
	}
	.clear-completed-btn:hover {
		color: var(--text-color);
	}
}

.hide {
	display: none;
}

.last-item {
	font-weight: 400;
	color: var(--text-color);
}
