:root {
  --font-family: "Josefin Sans";
  --body-weight: 600;
  --heading-weight: 800;
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --background: hsl(0, 0%, 98%);
  --text-color: hsl(235, 19%, 35%);
  --border-color: hsl(240, 2%, 82%);
  --todo-bg: white;
  --placeholder-color: hsl(236, 9%, 61%);
  --bottom-paragraph: hsl(252, 3%, 69%);
  --bottom-button: hsl(236, 9%, 61%);
  --box-shadow: 0 24px 64px -24px rgba(72, 75, 106, 0.25);
  --bg-image: url("../assets/bg-desktop-light.jpg");
}

.dark-theme {
  --background: hsl(235, 21%, 11%);
  --text-color: hsl(234, 39%, 85%);
  --border-color: hsl(234, 11%, 52%);
  --todo-bg: hsl(235, 24%, 19%);
  --placeholder-color: hsl(234, 11%, 52%);
  --box-shadow: 0 24px 64px -24px rgba(0, 0, 0, 0.6);
  --bg-image: url("../assets/bg-desktop-dark.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  font-family: var(--font-family);
  font-weight: var(--body-weight);
  background-color: var(--background);
  height: 100vh;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  justify-items: center;
  background-position: center top;
}

main {
  width: 100%;
  max-width: 33.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  margin-block-start: 4.6875rem;
  color: white;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  margin-block-end: 2.1875rem;
}
header .input-content {
  padding-block: 1.5rem;
  background-color: var(--todo-bg);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding-inline: 1.25rem;
  gap: 1.25rem;
}
header .input-content .checkbox-container {
  width: 1.625rem;
  height: 1.625rem;
  flex-shrink: 0;
}
header .input-content .checkbox-container .first-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 50%;
  border: 0.125rem solid var(--border-color);
  position: relative;
  width: 100%;
  height: 100%;
}
header .input-content #text-input {
  outline: none;
  border: none;
  font-size: 1.125rem;
  width: 100%;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1.125rem;
  background-color: transparent;
}
header .input-content #text-input::-moz-placeholder {
  color: var(--placeholder-color);
  font-family: var(--font-family);
  font-size: 1.125rem;
}
header .input-content #text-input::placeholder {
  color: var(--placeholder-color);
  font-family: var(--font-family);
  font-size: 1.125rem;
}

.wrapper {
  border-radius: 0.25rem;
  background-color: var(--todo-bg);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  margin-bottom: 48px;
}

#todos-container {
  width: 100%;
}
#todos-container .todo-container {
  display: flex;
  align-items: center;
  padding-block: 1.5rem;
  background-color: var(--todo-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-inline: 1.25rem;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}
#todos-container .todo-container:hover .cancel-btn {
  opacity: 1;
  transform: scale(1);
}
#todos-container .todo-container .todo-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
}
#todos-container .todo-container .todo-item p {
  color: var(--text-color);
}
#todos-container .todo-container .todo-item .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 50%;
  border: 0.125rem solid var(--border-color);
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  flex-shrink: 0;
}
#todos-container .todo-container .todo-item .checkbox:checked {
  background: var(--check-background);
  border: none;
}
#todos-container .todo-container .todo-item .checkbox:checked::after {
  display: block;
}
#todos-container .todo-container .todo-item .checkbox:checked:hover {
  background: var(--check-background);
}
#todos-container .todo-container .todo-item .checkbox:hover {
  border: 0.125rem solid transparent;
  background: linear-gradient(var(--todo-bg), var(--todo-bg)) padding-box, var(--check-background) border-box;
  background-clip: padding-box, border-box;
  -webkit-background-clip: padding-box, border-box;
}
#todos-container .todo-container .todo-item .checkbox::after {
  content: "";
  background-image: url("../assets/icon-check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
}
#todos-container .todo-container .todo-item.checked {
  text-decoration: line-through;
  color: var(--border-color);
}
#todos-container .todo-container .todo-item.checked p {
  color: var(--border-color);
}
#todos-container .todo-container .cancel-btn {
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#todos-container .hide-todo {
  display: none;
}

.bottom-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.bottom-row p {
  font-size: 14px;
  color: var(--bottom-paragraph);
  letter-spacing: -0.02em;
}
.bottom-row .filter-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.bottom-row .filter-container button {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  color: var(--bottom-button);
  letter-spacing: -0.02em;
}
.bottom-row .filter-container button:hover {
  color: var(--text-color);
}
.bottom-row .filter-container .active {
  color: var(--bright-blue);
}
.bottom-row .clear-completed-btn {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  color: var(--bottom-paragraph);
  letter-spacing: -0.02em;
}
.bottom-row .clear-completed-btn:hover {
  color: var(--text-color);
}

.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */